/*  your css code here. If applicable */
.boxmodel{
	width:fit-content;
	background-color:grey;
	border-radius:40px;
	padding:10px;
	display:flex;
	gap:20px;
	justify-content:center;
	align-content:center;

}
#green{
	height:100px;
	width:100px;
	border-radius:50%;
	background-color:green;
	
}

#yellow{
	height:100px;
	width:100px;
	border-radius:50%;
	background-color:yellow;
	
}

#red{
	height:100px;
	width:100px;
	border-radius:50%;
	background-color:red;
}
